<div class="container">
  <footer class="d-flex justify-content-between align-items-center position-relative py-3 my-4 border-top">


    <div>
      Skillern
    </div>

    <!-- Centered text using absolute positioning -->
    <div class="position-absolute start-50 translate-middle-x">
      <span>Made with 💚 and Django</span>
    </div>

    <!-- Right aligned icons -->
    <ul class="nav">
      <li class="ms-3"><a target="_blank" href="https://github.com/Hitenshu"><i class="bi bi-github"></i></a></li>
      <li class="ms-3"><a target="_blank" href="https://www.linkedin.com/in/hitenshu/"><i class="bi bi-linkedin"></i></a></li>
    </ul>

  </footer>
</div>